<h2 class="text-center mt-4">Tweet</h2>
  <div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
          <strong>Faber Ruiz</strong>
          <small>@faruiz9</small>
          <small><%= time_ago_in_words(@tweet.created_at) %> ago.</small>
        </div>
        <div class="card-body">
          <div class="card-text text-left"><%= simple_format(@tweet.tweeet) %></div>
        </div>
        <div class="card-footer text-muted">
          <%= link_to "Edit", edit_tweet_path(@tweet), class: "btn btn-outline-info" %>
          <%= link_to "Delete", tweet_path(@tweet), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
        </div>
      </div>
    </div>
  </div>
</div>